
.idea
/Community
/examples
/FlowPlugins
/FlowPluginsTs/CommunityFlowPlugins/audio
/FlowPluginsTs/CommunityFlowPlugins/basic
/FlowPluginsTs/CommunityFlowPlugins/classic
/FlowPluginsTs/CommunityFlowPlugins/ffmpegCommand
/FlowPluginsTs/CommunityFlowPlugins/file
/FlowPluginsTs/CommunityFlowPlugins/handbrake
/FlowPluginsTs/CommunityFlowPlugins/tools
/FlowPluginsTs/CommunityFlowPlugins/video/check10Bit
/FlowPluginsTs/CommunityFlowPlugins/video/checkHdr
/FlowPluginsTs/CommunityFlowPlugins/video/checkOverallBitrate
/FlowPluginsTs/CommunityFlowPlugins/video/checkVideoBitrate
/FlowPluginsTs/CommunityFlowPlugins/video/checkVideoCodec
/FlowPluginsTs/CommunityFlowPlugins/video/checkVideoFramerate
/FlowPluginsTs/CommunityFlowPlugins/video/checkVideoResolution
/FlowPluginsTs/CommunityFlowPlugins/video/checkVideoStreamsCount
/FlowPluginsTs/CommunityFlowPlugins/video/runHealthCheck
/FlowPluginsTs/CommunityFlowPlugins/video/transcodeVideo
/FlowPluginsTs/CommunityFlowTemplates
/FlowPluginsTs/FlowHelpers
/methods
/node_modules
/tests
.eslintrc.json
.gitattributes
gotCommit.txt
LICENSE
package.json
package-lock.json
README.md
tdarrIgnore.txt

