
.idea
/Community
/examples
/FlowPluginsTs
/FlowPlugins/CommunityFlowPlugins/audio
/FlowPlugins/CommunityFlowPlugins/basic
/FlowPlugins/CommunityFlowPlugins/classic
/FlowPlugins/CommunityFlowPlugins/ffmpegCommand
/FlowPlugins/CommunityFlowPlugins/file
/FlowPlugins/CommunityFlowPlugins/handbrake
/FlowPlugins/CommunityFlowPlugins/input
/FlowPlugins/CommunityFlowPlugins/tools
/FlowPlugins/CommunityFlowPlugins/video/check10Bit
/FlowPlugins/CommunityFlowPlugins/video/checkHdr
/FlowPlugins/CommunityFlowPlugins/video/checkOverallBitrate
/FlowPlugins/CommunityFlowPlugins/video/checkVideoBitrate
/FlowPlugins/CommunityFlowPlugins/video/checkVideoCodec
/FlowPlugins/CommunityFlowPlugins/video/checkVideoFramerate
/FlowPlugins/CommunityFlowPlugins/video/checkVideoResolution
/FlowPlugins/CommunityFlowPlugins/video/checkVideoStreamsCount
/FlowPlugins/CommunityFlowPlugins/video/runHealthCheck
/FlowPlugins/CommunityFlowPlugins/video/transcodeVideo
/FlowPlugins/CommunityFlowTemplates
/FlowPlugins/FlowHelpers
/methods
/node_modules
/tests
.eslintrc.json
.gitattributes
gotCommit.txt
LICENSE
package.json
package-lock.json
README.md
tdarrIgnore.txt

